<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">

        <!-- Left -->
        <div class="col-md-6">

            <!-- Form Books -->
            <div class="card mb-4">
                <div class="card-header">
                    Books
                </div>
                <div class="card-body">
                    <form id="bookForm">
                        <div class="form-group">
                            <label for="bookTitle">Title</label>
                            <input type="text" class="form-control" id="bookTitle" required>
                        </div>
                        <div class="form-group">
                            <label for="publisherName">Publisher Name</label>
                            <input type="text" class="form-control" id="publisherName" required>
                        </div>
                        <div class="form-group">
                            <label for="authorNames">Author Names (comma separated)</label>
                            <input type="text" class="form-control" id="authorNames" required>
                        </div>
                        <div class="form-group">
                            <label for="reviewComment">Review Comment</label>
                            <textarea class="form-control" id="reviewComment"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block mb-2" onclick="createBook()">Create</button>
                            <button type="button" class="btn btn-secondary btn-block mb-2" onclick="findAllBooks()">Find All</button>

                            <label for="findAllBooksPaginationButton">Enter with PAGE and SIZE:</label>
                            <input type="text" id="findAllBooksPaginationButton" class="form-control mb-2" placeholder="PAGE, SIZE (comma separated)">
                            <button type="button" class="btn btn-info btn-block mb-2" onclick="findAllBooksPagination()">Find Books Pagination</button>

                            <label for="findAllBooksByAuthorNameButton">Enter with Author Name:</label>
                            <input type="text" id="findAllBooksByAuthorNameButton" class="form-control mb-2">
                            <button type="button" class="btn btn-info btn-block mb-2" onclick="findAllBooksByAuthorName()">Find Books by Author Name</button>

                            <label for="findAllBooksByPublisherNameButton">Enter with Publisher Name:</label>
                            <input type="text" id="findAllBooksByPublisherNameButton" class="form-control mb-2">
                            <button type="button" class="btn btn-info btn-block mb-2" onclick="findAllBooksByPublisherName()">Find By Publisher Name</button>

                            <label for="findBookByNameButton">Enter with Book name:</label>
                            <input type="text" id="findBookByNameButton" class="form-control mb-2">
                            <button type="button" class="btn btn-info btn-block mb-2" onclick="findBookByName()">Find By Name</button>

                            <label for="findBookByIdButton">Enter with Book ID:</label>
                            <input type="text" id="findBookByIdButton" class="form-control mb-2">
                            <button type="button" class="btn btn-info btn-block mb-2" onclick="findBookById()">Find By ID</button>

                            <label for="deleteBookId">Enter with Book ID:</label>
                            <input type="text" id="deleteBookId" class="form-control mb-2">
                            <button type="button" class="btn btn-danger btn-block mb-2" onclick="deleteBook()">Delete</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Form Authors -->
            <div class="card mb-4">
                <div class="card-header">
                    Authors
                </div>
                <div class="card-body">
                    <form id="authorForm">
                        <div class="form-group">
                            <label for="authorName">Name</label>
                            <input type="text" class="form-control" id="authorName" required>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block mb-2" onclick="createAuthor()">Create</button>
                            <button type="button" class="btn btn-secondary btn-block mb-2" onclick="findAllAuthors()">Find All</button>

                            <label for="findAuthorByNameButton">Enter with Author name:</label>
                            <input type="text" id="findAuthorByNameButton" class="form-control mb-2">
                            <button type="button" class="btn btn-info btn-block mb-2" onclick="findAuthorByName()">Find By Name</button>

                            <label for="findAuthorByIdButton">Enter with Author ID:</label>
                            <input type="text" id="findAuthorByIdButton" class="form-control mb-2">
                            <button type="button" class="btn btn-info btn-block mb-2" onclick="findAuthorById()">Find By ID</button>

                            <label for="addBookToAuthorButton">Enter with Author ID and Book ID:</label>
                            <input type="text" id="addBookToAuthorButton" class="form-control mb-2" placeholder="Author ID, Book ID (comma separated)">
                            <button type="button" class="btn btn-info btn-block mb-2" onclick="addBookToAuthor()">Add Book To Author</button>

                            <label for="deleteAuthorId">Enter with Author ID: </label>
                            <input type="text" id="deleteAuthorId" class="form-control mb-2">
                            <button type="button" class="btn btn-danger btn-block mb-2" onclick="deleteAuthor()">Delete</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Form Publishers -->
            <div class="card mb-4">
                <div class="card-header">
                    Publishers
                </div>
                <div class="card-body">
                    <form id="publisherForm">
                        <div class="form-group">
                            <label for="publisherNameForm">Name</label>
                            <input type="text" class="form-control" id="publisherNameForm" required>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block mb-2" onclick="createPublisher()">Create</button>
                            <button type="button" class="btn btn-secondary btn-block mb-2" onclick="findAllPublishers()">Find All</button>

                            <label for="findPublisherByNameButton">Enter with Publisher name:</label>
                            <input type="text" id="findPublisherByNameButton" class="form-control mb-2">
                            <button type="button" class="btn btn-info btn-block mb-2" onclick="findPublisherByName()">Find By Name</button>

                            <label for="findPublisherByIdButton">Enter with Publisher ID:</label>
                            <input type="text" id="findPublisherByIdButton" class="form-control mb-2">
                            <button type="button" class="btn btn-info btn-block mb-2" onclick="findPublisherById()">Find By ID</button>

                            <label for="deletePublisherId">Enter with Publisher ID:</label>
                            <input type="text" id="deletePublisherId" class="form-control mb-2">
                            <button type="button" class="btn btn-danger btn-block mb-2" onclick="deletePublisher()">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Right -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" id="resultTitle">
                    Result
                </div>
                <div class="card-body" id="resultBody">
                    <!-- Result Here -->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/index.js"></script>
</body>
</html>
